<!DOCTYPE html>
<html>
  <head>
    <title>AdonisRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Adonis Athletics</h1>

<header>
  <nav>
    <% if @current_user.present? %>
    Welcome, <%= @current_user.name %>
    <% if @current_user.admin? %>
      (admin)
    <% end %>

    <%= link_to 'Logout', login_path, method:'delete' %>
    <% else %>
    <%= link_to 'Login', login_path %>

    <%= link_to 'Register', new_user_path %>

    <% end %>




  </nav>
  <hr>
</header>
    <%= yield %>
    <footer>
    <hr>
          &copy; Adonis Athletics
    </footer>
  </body>
</html>
